@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;800&family=Syne:wght@800&family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@1,600&display=swap');

:root {
  --bg-deep: #020203;
  --monk-orange: #ffa500;
  --font-display: 'Syne', sans-serif;
  --font-heading: 'Bebas Neue', cursive;
  --font-accent: 'Cormorant Garamond', serif;
  /* --nav-height: 80px; */
  --nav-height: 80px; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--bg-deep);
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Film Grain – GPU safe */
/* body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.02;
  pointer-events: none;
  z-index: 9999;
  transform: translateZ(0);
} */

#__next,
#root {
  isolation: isolate;
}