:root {
  --gradient: linear-gradient(90deg, #6366f1, #22d3ee);
  --text-muted: rgba(255,255,255,0.65);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0b0f14;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  
}
body {
 font-family: var(--font-inter), ui-sans-serif, system-ui;
}